### Using Google Maps and Places

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-05-22 02:41:35,-54.8000,-68.3000,37.06,81,0,6.91
1,1,Bambous Virieux,MU,2022-05-22 02:41:35,-20.3428,57.7575,70.05,83,40,16.11
2,2,Prince George,CA,2022-05-22 02:40:15,53.9166,-122.7530,62.04,25,0,2.30
3,3,Sitka,US,2022-05-22 02:41:30,57.0531,-135.3300,58.89,44,0,3.44
4,4,Kununurra,AU,2022-05-22 02:41:36,-15.7667,128.7333,85.98,28,7,10.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

## Create a max temp map

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
# New fig Add a center and zoom level to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#new heat_layer to replace temps to use a list comprehension
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a percent humidity heatmap

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a percent cloudiness heatmap

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kununurra,AU,2022-05-22 02:41:36,-15.7667,128.7333,85.98,28,7,10.36
5,5,Rikitea,PF,2022-05-22 02:41:36,-23.1203,-134.9692,75.76,75,3,13.06
8,8,Bengkulu,ID,2022-05-22 02:41:37,-3.8004,102.2655,83.64,66,33,2.80
9,9,Albany,US,2022-05-22 02:41:38,42.6001,-73.9662,76.53,84,48,2.95
10,10,Faanui,PF,2022-05-22 02:41:38,-16.4833,-151.7500,80.87,70,11,10.49
14,14,Kapaa,US,2022-05-22 02:41:39,22.0752,-159.3190,80.58,84,40,11.50
17,17,Georgetown,MY,2022-05-22 02:38:18,5.4112,100.3354,87.73,78,20,3.44
21,21,Nargana,PA,2022-05-22 02:41:46,9.4428,-78.5906,80.64,81,86,3.60
32,32,Pacora,PA,2022-05-22 02:41:50,9.0833,-79.2833,80.58,89,40,3.44
39,39,Hithadhoo,MV,2022-05-22 02:41:52,-0.6000,73.0833,83.10,69,100,9.98

## Check for null - multiple ways

In [17]:
#Option 1
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [18]:
#Option 2
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [19]:
#Option 3
preferred_cities_df.notnull().sum()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

## Once the customer has filtered the database, show a heatmap with a marker for each city that will display city name, country code, max temp, and name of nearby hotel within 3 miles of teh coordinates when the marker is clicked

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4    Kununurra      AU     85.98 -15.7667  128.7333
5      Rikitea      PF     75.76 -23.1203 -134.9692
8     Bengkulu      ID     83.64  -3.8004  102.2655
9       Albany      US     76.53  42.6001  -73.9662
10      Faanui      PF     80.87 -16.4833 -151.7500
14       Kapaa      US     80.58  22.0752 -159.3190
17  Georgetown      MY     87.73   5.4112  100.3354
21     Nargana      PA     80.64   9.4428  -78.5906
32      Pacora      PA     80.58   9.0833  -79.2833
39   Hithadhoo      MV     83.10  -0.6000   73.0833

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kununurra,AU,85.98,-15.7667,128.7333,Hotel Kununurra
5,Rikitea,PF,75.76,-23.1203,-134.9692,People ThankYou
8,Bengkulu,ID,83.64,-3.8004,102.2655,Grage Hotel Bengkulu
9,Albany,US,76.53,42.6001,-73.9662,
10,Faanui,PF,80.87,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...
540,Puerto Escondido,MX,80.28,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
541,Kawalu,ID,76.37,-7.3817,108.2082,West Jontor
546,Mitsamiouli,KM,78.80,-11.3847,43.2844,Foyer ADM
551,Meulaboh,ID,81.54,4.1363,96.1285,Kost Pria
553,Phuket,TH,87.10,8.0000,98.2500,The Surin

## Our final task will be to add pop-up markers with hotel information to a heatmap

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))